.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.page-item {
    cursor: pointer;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 4px;
    color: #007bff;
    user-select: none;
}

.page-item.active {
    background-color: #007bff;
    color: white;
}