.app h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
}

.todo {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}